
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #800080; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

/* Opcional: Hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #9b59b6; /* Color al pasar el mouse */
}

/* Para Firefox */
.scrollbar {
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: #800080 #2c2c2c; /* Color de la barra y fondo */
}


/* Estilos para el calendario */
.react-calendar {
    /* Asegúrate de que el calendario mantenga su diseño original */
}

.react-calendar__tile {
    color: rgb(245, 244, 248); /* Color original para los días */
}

.react-calendar__tile--weekend {
    color: red; /* Cambia el color de los sábados y domingos a rojo */
}

.react-calendar__tile:hover {
    background: rgba(60, 163, 247, 0.2); /* Fondo gris opaco al pasar el cursor */
    color: rgba(8, 6, 6, 0.315); /* Mantiene el color de texto blanco en días normales */
}

/* Mantiene el color de texto rojo para fines de semana al hacer hover */
.react-calendar__tile:hover.react-calendar__tile--weekend {
    color: red; /* Mantiene rojo en fin de semana al pasar el cursor */
}

/* Estilo para que el texto sea más visible */
.react-calendar__tile.react-calendar__tile--active {
    background: rgba(60, 163, 247, 0.2); /* Fondo ligero para el día activo */
}







